<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:role="http://www.sitecore.net/xmlconfig/role/">
    <sitecore>
        <services role:require="Standalone or ContentManagement">
            <register serviceType="Feature.SmartNavigation.Services.ISmartNavigationService, Feature.SmartNavigation" implementationType="Feature.SmartNavigation.Services.SmartNavigationService, Feature.SmartNavigation" lifetime="Singleton"/>
            <register serviceType="Feature.SmartNavigation.Services.ISuggestionEngine, Feature.SmartNavigation" implementationType="Feature.SmartNavigation.Services.SuggestionEngine, Feature.SmartNavigation" lifetime="Singleton"/>
            <register serviceType="Feature.SmartNavigation.Services.IRegistryService, Feature.SmartNavigation" implementationType="Feature.SmartNavigation.Services.RegistryService, Feature.SmartNavigation" lifetime="Singleton"/>
            <register serviceType="Feature.SmartNavigation.Repositories.IEntryRepository, Feature.SmartNavigation" implementationType="Feature.SmartNavigation.Repositories.EntryRepository, Feature.SmartNavigation" lifetime="Singleton"/>
            <register serviceType="Feature.SmartNavigation.Configuration.ISuggestionEngineConfigurationProvider, Feature.SmartNavigation" implementationType="Feature.SmartNavigation.Configuration.SuggestionEngineConfigurationProvider, Feature.SmartNavigation" lifetime="Singleton"/>
        </services>
    </sitecore>
</configuration>