<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <pipelines>

        <renderContentEditor>
        <processor patch:before="*[1]"
                   type="Feature.SmartNavigation.Pipelines.RenderSmartNavigation, Feature.SmartNavigation" resolve="true" />
      </renderContentEditor>

    </pipelines>


  </sitecore>
</configuration>